<div class="container">
  <%= image_tag("banner.jpg", :alt => "Banner", class: "home-banner") %>
</div>
<div class="container">
  <h3 class="text-left">Server Status</h3>
    <div class="well well-sm">
      Current Server Time (EST): <%= @current_time.strftime("%b %e, %l:%M %p") %>
      <br>
      Login Server Status: 
      <% if @login == "Online" %>
        <span class="label label-success">Online</span>
      <% else %>
        <span class="label label-danger">Offline</span>
      <% end %>
      <br>
      World Server Status: 
      <% if @world == "Online" %>
        <span class="label label-success">Online</span>
      <% else %>
        <span class="label label-danger">Offline</span>
      <% end %>
    </div>
</div>
<div class="container">
  <h3 class="text-left">Latest News - <%= @post.title %></h3>
    <h6>Posted On: <%= @post.created_at.strftime("%b %e")%></h6>
    <div class="well well-sm">
      <p><%= simple_format(@post.body) %></p>
    </div>
</div>