<!DOCTYPE html>
<html>
<head>
  <title>Supernova</title>
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Supernova - A Private FFXI Server</a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "News", news_path %></li>
          <li><%= link_to "Setup", setup_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li>
            <% if user_signed_in? %>
              <%= link_to "Sign Out", destroy_user_session_path %>
            <% else %>
              <%= link_to "Administrator Sign-In", new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
  </div>
     <%= yield %>
  </body>
  
  <footer>
    
  </footer>
</html>
